---
---

@import "{{ site.theme }}";

#header_wrap .inner {
  padding: 35px 10px 35px 10px;
}

#header_pic {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
  padding-right: 30px;
}

#headshot {
  height: 120px;
  float: right;
  margin: 4px 40px 4px 0;
  padding: 2px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}

@media screen and (max-width: 480px) {
  #headshot {
    height: 100px;
    margin-right: 0px;
  }
}
